.juta-card{
    border: 0;
}
.juta-footer{
    background-color: white;
    border-top: none;
}
.catagorise01 img{
    width: 105px;
}
.panda-color .carousel-item {
    background-color: #fceae8;
    border-radius: 10px;
}
.noton-color{
    color: #FF297D;
}
